<footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <a class="footer-brand" href="#">
                <img th:src="@{/img/logo.png}" alt="">
              </a>
            </div>
            <div class="col-12 col-md-3">
              <h6>Titres</h6>
              <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Ressources</a></li>
                <li><a href="#">Lois et Reglements</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <h6>Ressources</h6>
              <ul>
                <li><a href="#">Forestieres</a></li>
                <li><a href="#">Alimentation et Agriculture</a></li>
                <li><a href="#">Marines</a></li>
                <li><a href="#">Faune Sauvage et Domestique</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <h6>Suivez-nous</h6>
              <button class="btn button"><i class="fa fa-linkedin"></i></button>
              <button class="btn button"><i class="fa fa-twitter"></i></button>
              <button class="btn button"><i class="fa fa-facebook"></i></button>
              <button class="btn button"><i class="fa fa-instagram"></i></button>            
            </div>


          </div>
          <span class="center">Tout les droits sont reserves &reg;</span>
        </div>
</footer>